<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is akt page</h1>
        <h1>hai how are u??????</h1>
        
        <h1><a href="{% url 'app2:bhavya' %}">navigate to bhavya</a></h1>
        <h1><a href="{% url 'app3:sri' %}">navigate to sri</a></h1>
        <h1><a href="{% url 'tom' %}">goto tom</a></h1>


    </center>
</body>
</html>